{% extends 'admin/base.html' %}

{% block body %}
{% if current_user.is_authenticated %}
<h1 class="text-info"> welcome <span class="text-danger"> {{ current_user.name}} </span>to our website</h1>
{% else %}
<h1 class="text-info text-center"> DANG NHAP NGUOI QUAN TRI</h1>
    <form method="post" action="{{ url_for('admin_login')}}">
  <div class="form-group">
    <label for="username">username: </label>
    <input type="text" class="form-control" name="username" placeholder="User name" id="username">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" placeholder="Enter password" name="password" id="pwd">
  </div>

  <button type="submit" class="btn btn-primary">Dang nhap</button>
</form>
{% endif %}
{% endblock %}