{% extends 'layout/base.html' %}
{% block title %}Trang chu{% endblock %}
{% block content %}

<h1 class="subject"> xin chào </h1>

    {% if pages >1 %}
        <ul class="pagination">
            {% for idx in range(1,pages +1) %}
          <li class="page-item"><a class="page-link" href="{{url_for('index',page=idx)}}">{{idx}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        {% if products%}
        {% for p in products %}

        <div class="col-md-3">
            <div class="card">
              <img class="card-img-top" src="{{url_for('static', filename=p.image)}}" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{ p.name}}</h4>
                <p class="card-text">{{"{:,.1f}".format(p.price)}} VND</p>
                <a href="#" class="btn btn-primary">Dat hang</a>
              </div>
            </div>
         </div>
        {% endfor %}
        {% else %}
        <p><i>Khong co san pham nao</i></p>
        {% endif %}
    </div>


{% endblock %}
