<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh mục sản phẩm</title>
   <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="subject">DANH MỤC SẢN PHẨM</h1>

    {% if products %}
    <form method="get" action="/products">
            <input type="text" name="keyword" placeholder="Nhap tu khoa..."/>
        <input type="number" name="from_price" placeholder="Nhap tu gia..."/>
        <input type="number" name="to_price" placeholder="'nhap den gia.."/>
             <input type="submit" value="Tim kiem">
    </form>
    <table border="1" width="100%" class="products">
        <tr>
            <th></th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Mô tả</th>
            <th>Gia hạn</th>
        </tr>
        {% for p in products %}

        <tr>
            <td>
               <img src="{{url_for('static', filename=p.image)}}"width="60" alt="{{p.name}}">
            </td>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.description}}</td>
            <td>{{ "{:,.1f}".format(p.price)}} VND</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <h1>Không có sản phầm nào!</h1>
    {% endif %}
</div>
</body>
</html>